---
Checks: >-
  -*,
  bugprone-*,
  performance-*,
  portability-*,
  readability-*,
  modernize-*,
  cppcoreguidelines-avoid-do-while,
  cppcoreguidelines-init-variables,
  cppcoreguidelines-narrowing-conversions,
  cppcoreguidelines-slicing,
  cppcoreguidelines-special-member-functions,
  cppcoreguidelines-virtual-class-destructor,
  -bugprone-easily-swappable-parameters,
  -cppcoreguidelines-avoid-c-arrays,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-macro-usage,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -cppcoreguidelines-pro-type-union-access,
  -modernize-use-trailing-return-type,
  -readability-identifier-length,
  -readability-magic-numbers
WarningsAsErrors: ''
HeaderFilterRegex: '^(src|ofxGgmlGuiExample/src)/'
AnalyzeTemporaryDtors: false
FormatStyle: none
InheritParentConfig: false
CheckOptions:
  - key: bugprone-argument-comment.StrictMode
    value: '0'
  - key: modernize-loop-convert.MaxCopySize
    value: '32'
  - key: modernize-pass-by-value.IncludeStyle
    value: llvm
  - key: performance-for-range-copy.WarnOnAllAutoCopies
    value: '0'
  - key: readability-braces-around-statements.ShortStatementLines
    value: '1'
...
