build/
libs/ggml/build/

# Visual Studio build artifacts
.vs/
obj/
*.user
*.exe
*.exp
*.lib
*.pdb
*.ini
libs/llama/bin/

# Generated / cached data
ofxGgmlGuiExample/bin/data/cache/
ofxGgmlGuiExample/bin/data/models/
ofxGgmlGuiExample/bin/data/sessions/
ofxGgmlBasicExample/*.sln
ofxGgmlBasicExample/*.vcxproj
ofxGgmlBasicExample/*.vcxproj.filters
ofxGgmlBasicExample/icon.rc
ofxGgmlGuiExample/*.sln
ofxGgmlGuiExample/*.vcxproj
ofxGgmlGuiExample/*.vcxproj.filters
ofxGgmlGuiExample/icon.rc
ofxGgmlNeuralExample/*.sln
ofxGgmlNeuralExample/*.vcxproj
ofxGgmlNeuralExample/*.vcxproj.filters
ofxGgmlNeuralExample/icon.rc

